body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
 }
 body{
    font-family: 'Inter', sans-serif;
 }
 .HOME_PAGE{
    display: flex;
    padding: 40px 373px 100px 373px;
    flex-direction: column;
    align-items: flex-start;
    gap: 84px;
 }
 .Logo{
    display: flex;
    width: 137px;
    height: 40px;
    padding-right: 0.878px;
    justify-content: center;
    align-items: center;
    gap: 14.792px;   
 }
 .header{
    display: flex;
    align-items: center;
    gap: 460px;
   
 }
 .logo{
    width: 35px;
    height: 40px;
    flex-shrink: 0;
 }
 .growbe{
    width: 86.33px;
    height: 17.472px;
    flex-shrink: 0;
 }
 
 .menu{
    display: flex;
    align-items: flex-start;
    gap: 14px;   
 }
 
 .menuitem{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
 }
 .menuitem1{
    
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;  
 }
 .menutext:link{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 }
 .menutext:hover{
    color:#F25822;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 }
 

 
 .Home{
    display: flex;
    width: 1174px;
    justify-content: space-between;
    align-items: flex-start;   
 }
 .HomeMeta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
 }
 .Title{
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
    align-self: stretch;   
 }
 .subtitle{
    align-self: stretch;
    color: #888;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */      
 }
 .ButtonMeta{
    display: flex;
    align-items: center;
    gap: 48px;
    align-self: stretch;
 }
 button{
    color: #AAA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-color: #FFF;
    background-color: #FFF;
    box-shadow: none;
    border-style: solid;
    text-shadow: none;
 }
 button:focus{
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);      
 }
 button:hover{
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);     
 }
 button:active{
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);     
 }
 .PNg{
    width: 545px;
    height: 375px;
    flex-shrink: 0;
 }
 .footer{
    background: #FFF;
    display: flex;
    width: 1920px;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    
 }
 .fimg{
    width: 134px;
    height: 50px;
    flex-shrink: 0;
    
 }